<link rel="stylesheet" href="~/css/task-list.css" asp-append-version="true" />

<div class="text-center">
    <div>
        <a class="" asp-controller="Tasks" asp-action="Create">Create new task</a>
    </div>
    <div>
        <table border="1" class="task-list-table">
            <tr>
                <th>#</th>
                <th>Subject</th>
                <th>Contractor</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>34,5</td>
                <td>3,5</td>
                <td>36</td>
                <td>23</td>
            </tr>
        </table>
    </div>
</div>
