@model TaskWebProject.Models.Tasks.TaskNewViewModel

<style>
    .create-task-form div
    {
        margin-bottom: 10px;
    }

</style>


<h1>New Task</h1>
<form method="post" class="create-task-form">
    <fieldset>
        <div class="form-element">
            <label for="Subject">Subject</label>
            <input type="text" name="Subject" value="" />
        </div>
        <div>
            <label for="Contractor">Contractor</label>
            <select name="Contractor">
                @{
                    foreach (var contractor in Model.Contractors)
                    {
                        <option value="@contractor.Id"> @contractor.Name </option>                    
                    }
                }
            </select>
        </div>
        <div>
            <label for="Description">Description</label>
            <textarea cols="50" rows="10" name="Description" value=""></textarea>
        </div>
        <div>
            <label>Create</label>
            <input type="submit" value="Submit" class="submit" />
        </div>
    </fieldset>
</form>